<h3 class="centerAlign">Contact Us</h3>
<div class="container">
	<div class="row contactDiv">
		<div class="col-md-4">
			<h3>President:<h3>
			<h3 class"conPage">Cray Bryan</h3>
			<h4><a href="tel:206-679-9186">206-679-9186</a></h4>
		</div>
		<div class="col-md-4">
			<h3>Recruitment Chair:<h3>
			<h3 class"conPage">Kyle Hermann</h3>
			<h4><a href="tel:(949)-355-1360">(949)-355-1360</a></h4>
		</div>
		<div class="col-md-4">
			<h3>Our email is:</h3>
			<a href="mailto:pikesbetabeta@gmail.com">betabetapikes@washington.edu</a>
			<a href="mailto:pikesbetabeta@gmail.com">pikesbetabeta@gmail.com</a>
		</div>
	</div>
</div>
