<div class="container-fluid" id="text-background">
<h3 class="centerAlign">About the House</h3>
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/pikefrontifc.jpg" alt="Beta Beta Chapter House" title="Beta Beta Chapter House" id="wows1_1"/></li>
		<li><img src="data1/images/mainfloor.jpg" alt="Foyer and Trophy Room" title="Foyer and Trophy Room" id="wows1_2"/></li>
		<li><img src="data1/images/mainroom.jpg" alt="Main Room" title="Main Room" id="wows1_3"/></li>
		<li><img src="data1/images/basketballcourt.jpg" alt="Basketball Court" title="Basketball Court" id="wows1_4"/></li>
		<li><img src="data1/images/secondfloor.jpg" alt="Hallway" title="Hallway" id="wows1_5"/></li>
		<li><img src="data1/images/flag.jpg" alt="Flag" title="Flag" id="wows1_6"/></li>
		
		<li><img src="data1/images/pikefrontomegafi2.png" alt="Chapter House" title="Chapter House" id="wows1_7"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Beta Beta Chapter House"><span><img src="data1/tooltips/pikefrontifc.jpg" alt="Beta Beta Chapter House"/>1</span></a>
		<a href="#" title="Foyer and Trophy Room"><span><img src="data1/tooltips/mainfloor.jpg" alt="Foyer and Trophy Room"/>2</span></a>
		<a href="#" title="Main Room"><span><img src="data1/tooltips/mainroom.jpg" alt="Main Room"/>3</span></a>
		<a href="#" title="Basketball Court"><span><img src="data1/tooltips/basketballcourt.jpg" alt="Basketball Court"/>4</span></a>
		<a href="#" title="Hallway"><span><img src="data1/tooltips/secondfloor.jpg" alt="Hallway"/>5</span></a>
		<a href="#" title="Flag"><span><img src="data1/tooltips/flag.jpg" alt="Flag"/>6</span></a>
		<a href="#" title="Chapter House"><span><img src="data1/tooltips/pikefrontomegafi2.png" alt="Chapter House"/>7</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery carousel</a> by WOWSlider.com v8.6</div>
<div class="ws_shadow"></div>
</div>	
<br>
<h3 class="centerAlign">Our mailing address is <a href="https://www.google.com/maps/place/4515+21st+Ave+NE,+Seattle,+WA+98105/@47.661782,-122.3079847,17z/data=!3m1!4b1!4m2!3m1!1s0x549014895ce66ab9:0xabe11bd7559f64c4">4515 21st Ave NE Seattle, WA 98105</a></h3><br>
<a href="https://www.google.com/maps/place/4515+21st+Ave+NE,+Seattle,+WA+98105/@47.661782,-122.3079847,17z/data=!3m1!4b1!4m2!3m1!1s0x549014895ce66ab9:0xabe11bd7559f64c4"><img id="googmap" src="img/googMap.png" alt="Location"/></img></a>
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
</div>