<h2 class="mainTitle">Welcome to the University of Washington's chapter of Pi Kappa Alpha</h2><br>
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data0/images/pikeup.jpg" alt="Pike Up Initiative" title="Pike Up Initiative" id="wows1_0"/></li>
		<li><img src="data0/images/betabetaboys.jpg" alt="bootstrap carousel" title="Brothers of Beta Beta Chapter" id="wows1_1"/></a></li>
		<li><img src="data0/images/pikefrontifc.jpg" alt="Beta Beta Chapter House" title="Beta Beta Chapter House" id="wows1_2"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Pike Up Initiative"><span><img src="data0/tooltips/pikeup.jpg" alt="Pike Up Initiative"/>1</span></a>
		<a href="#" title="Brothers of Beta Beta Chapter"><span><img src="data0/tooltips/betabetaboys.jpg" alt="Brothers of Beta Beta Chapter"/>2</span></a>
		<a href="#" title="Beta Beta Chapter House"><span><img src="data0/tooltips/pikefrontifc.jpg" alt="Beta Beta Chapter House"/>3</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">responsive slider</a> by WOWSlider.com v8.6</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
<div class="container-fluid" id="text-background">
<p>Pi Kappa Alpha is an international fraternity based around four overarching qualities: Scholarship, Leadership, Athletics, and Gentlemanly Qualities. Here at the Beta Beta chapter of Pi Kappa Alpha, we strive to excel at all four of these qualities; from winning the intramural athletic award for 19 years in a row, placing first overall in sorority hosted philanthropy events in the 2013-2014 school year, to even maintaining a high grade point average and having half of the fraternity in STEM (science, technology, engineering, and mathematics) majors.</p>
<p>Our brotherhood is impactful on the community, engaged in our University, caring about our fraternity, and trained how to be successful in both our education and our careers. We have a diverse environment that allows everyone to be able to enjoy a true college experience, as well as being a part of something that will last a lifetime.</p>
</div>