<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class ="container-fluid" id="memberSearch">
				<div class="form-inline pull-right">
					<label for="memberSearch" id="magLabel"><i class="fa fa-search"></i></label>
					<label for="memberSearch" id="searchLabel">Search</label>
				    <div class="form-group" id="memberSearchInput">
				    	<input type="text" name="memberSearch" id="memberSearch" class="form-control" autofocus ng-model="searchMember">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4" ng-repeat="member in members | filter:searchMember" id="memberInfo">
		<p id="profilePic">
			<a href="{{member.linkedin}}"><img src="img/profile.png" id="profilePic" height=200px width=300px></a>
		</p>
		<p><em>Name:</em> {{member.name}}
		<br><em>Position:</em> {{member.position}}
		<br><em>Hometown:</em> {{member.hometown}}
		<br><em>High School:</em> {{member.highschool}}
		<br><em>Year:</em> {{member.grade}}
		<br><em>Major:</em> {{member.major}} ({{member.majorioa}})
		<br><em>Pledge Class:</em> {{member.pc}}
		<br><em>Career Aspiration:</em> {{member.career}}
		<br><em>How has Pike helped you:</em> {{member.pikehelp}}
	</div>
</div>